body {
 color: rgb(65,75,86);
 font-family: 'Prata', serif;
 margin: 0px;
}


h1, h2 {
 text-align: center;
}

h1 {
 font-size: 5em;
}

h2 {
 font-size: 3.5em;
}

img {
 display: flex;
 padding: 20px;
 margin: 0 auto;
 border-radius: 130px;
}

p {
  width: 100%;
  margin: 10vw 5vh 5vw;
  font-size: 2em;
}

a {
 color: rbg (0,0,0);
}

ol {
 list-style: none;
 padding: 0;
 margin-bottom: 10%;
 font-size: 3em;
 display: flex;
 justify-content: space-evenly;
}

div.contrast {
 background-color: rgb(0,136,1);
 color: rgb(255,255,255);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

ul {
 list-style: none;
 display: flex;
}

li {
 margin: 0 20px;
 transition: 0.6s ease;
}

li:hover {
 font-size: 1.2em;
 transition: 0.6s ease;
}
